if _path == "/index.html"


    header.containerheader
        nav.navbar.navbar-default.home
          .container
            // Brand and toggle get grouped for better mobile display
            .col-md-6.col-sm-4.col-xs-4.text-left.menuleft
                div.btnrigt
                 a(href="javascript:;" class="toggle buttontween" id="sidenav-toggle") 
                  img(src="../img/fiona/burgermenu.png")
                  | MENU

            .col-md-6.col-sm-8.col-xs-8.social-right
              ul.contct_right_header
                 li.emailhdr
                    a(href="mailto:" + records.config.headernavigation[0].email, target="_blank")
                      img(src="../img/fiona/eamil.png")
                      = records.config.headernavigation[0].email
                 li
                    a(href="tel:" + records.config.headernavigation[0].phone, target="_blank")
                      img(src="../img/fiona/phone.png")
                      = records.config.headernavigation[0].phone


        a.closebtn(href='javascript:void(0)' class="buttontween") ×

        nav#nav2.sidenav(data-sidenav='', data-sidenav-toggle='#sidenav-toggle')
           div.logonav
            a(href="http://fionataylor.buzzin.today/")
              img(src="../img/fiona/fionataylor_logo.png")
           ul.sidenav-menu
            each conf in records.config.headermenu
               li(class= conf.class)
                  a(href= conf.url)= conf.item
           div.credentials_nav
             //- ul.social-sidebar-topright
             //-   li
             //-      a(href="https://www.facebook.com/hendrytraining/" target="_blank") 
             //-        i.fa.fa-facebook(aria-hidden='true')
             //-   li
             //-      a(href="https://twitter.com/Hendry_Training" target="_blank")
             //-        i.fa.fa-twitter(aria-hidden='true')
             //-   li
             //-      a(href="https://plus.google.com/103138710136868592759" target="_blank")
             //-        i.fa.fa-google-plus(aria-hidden='true')
             p.resrv © 2017 Fiona Taylor
              br 
              | All Rights Reserved by Webfactories


    #sliderhead.home
        div.container.text-left
          div.col-md-7.slider_line_txt
            div.text-det
              h2
                = records.config.headerhero[0].headerhero_mainheading
              h4.worldwd
                = records.config.headerhero[0].headerhero_secondaryheading
              div.talk
                a.letstlk.hvr-ripple-out(href= records.config.headerhero[0].headerhero_button_link)
                  img(src="../img/fiona/phone.png")
                  = records.config.headerhero[0].headerhero_button_text
          div.col-md-5.slider_img_right
            img(src="../img/fiona/fiona_slider_img.png")
