
header.containerheader
        nav.navbar.navbar-default.home
          .container
            // Brand and toggle get grouped for better mobile display
            .col-md-6.col-sm-4.col-xs-4.text-left.menuleft
                div.btnrigt
                 a(href="javascript:;" class="toggle buttontween" id="sidenav-toggle") 
                  img(src="../img/fiona/burgermenu.png")
                  | Menu

            .col-md-6.col-sm-8.col-xs-8.social-right
              ul.contct_right_header
                 li.emailhdr
                    a(href="#" target="_blank")
                      img(src="../img/fiona/eamil.png")
                      | buzzintoday@buzzin.com
                 li
                    a(href="tel:07715167426" target="_blank")
                      img(src="../img/fiona/phone.png")
                      | 0987654321

                 
        a.closebtn(href='javascript:void(0)' class="buttontween") 

        nav#nav2.sidenav(data-sidenav='', data-sidenav-toggle='#sidenav-toggle')
           div.logonav
            a(href="#")
              img(src="../img/fiona/buzzin_logo.png")
           ul.sidenav-menu
               li
                  a(href="#") Home
               li
                  a(href="#") About
               li
                  a(href="#") Information
               li
                  a(href="#") Gallery
               li
                  a(href="#") Blog
               li
                  a(href="#") Contact
            div.credentials_nav
               //- ul.social-sidebar-topright
               //-   li
               //-      a(href="https://www.facebook.com/hendrytraining/" target="_blank") 
               //-        i.fa.fa-facebook(aria-hidden='true')
               //-   li
               //-      a(href="https://twitter.com/Hendry_Training" target="_blank")
               //-        i.fa.fa-twitter(aria-hidden='true')
               //-   li
               //-      a(href="https://plus.google.com/103138710136868592759" target="_blank")
               //-        i.fa.fa-google-plus(aria-hidden='true')
               p.resrv © 2017 Buzzin Today
                br 
                | All Rights Reserved by Buzzin 


#sliderhead.blog-header2(style="background: #111 url(../img/fiona/northlanarkshire_bg.jpg) fixed")
    div.container
        div.text-det
            h5.related-title Latest Blogs
