.sidebar
	background linear-gradient(to left, $sidebar_color1 ,$sidebar_color2)
	
body .closebtn
	background $primary_color

#blogsec .news-item .blog-rightdet .short-desc .read-more a,
#copyright .container h4:after
	background $primary_color

#blogsec .news-item .blog-rightdet .published b:nth-child(2)
	color $primary_color

#more-blog .morelink a
	border-color $primary_color !important