// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = Georgia, Cambria, "Times New Roman", Times, serif
$lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
$monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
$verdana = Verdana, Geneva, sans-serif

// Default font settings
$font-stack = $helvetica-neue
$font-size = 16
$font-color = #555

// Sidebar color:

$primary_color = #2196F3
$sidebar_color1 = #1b5d5f
$sidebar_color2 = #044042

// Custom image base path for axis mixins
$img-path = '/img/'


