@import '_settings'
@import '_colorize'

normalize-css()
base()

body
  padding: 0px
  font-family: 'Josefin Sans', sans-serif;

header, .footer
  text-align:center

.lnks .footerlink.hiden
	display none